apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: graph-gateway
  namespace: graph-gateway
spec:
  podSelector:
    matchLabels:
      app: graph-gateway
  policyTypes:
  - Ingress
  - Egress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            name: api-gateway
        podSelector:
          matchLabels:
            app: oauth2-proxy
      ports:
        - protocol: TCP
          port: 8080
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          name: messaging
      podSelector:
        matchLabels:
          app: rabbitmq
    ports:
    - protocol: TCP
      port: 5672
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
    ports:
    - protocol: TCP
      port: 53
    - protocol: UDP
      port: 53